In [2]:
from pathlib import Path

import pandas as pd

In [32]:
old_root = Path('/ihme/covid-19/seir-pipeline-outputs/regression/2020_06_27.integration_test_1')
new_root = Path('/ihme/covid-19/seir-fit/2020_06_27.05')
old_betas_path = old_root / 'betas'
new_betas_path = new_root / 'betas'
old_params_path = old_root / 'parameters'
new_params_path = new_root / 'parameters'

In [33]:
def load_loc_draw_files(root: Path) -> pd.DataFrame:
    data = []
    for loc_dir in root.iterdir():
        data.append(load_draw_files(loc_dir))
    return pd.concat(data)

def load_draw_files(root: Path):
    data = []
    for draw_file in root.iterdir():
        df = pd.read_csv(draw_file)
        df['draw'] = int(draw_file.stem.split('_')[-1])
        data.append(df)
    return pd.concat(data)

In [38]:
%%time
old_betas = load_loc_draw_files(old_betas_path).drop(columns='location_id').rename(columns={'loc_id': 'location_id'}).sort_values(['location_id', 'draw', 'date']).reset_index(drop=True)
new_betas = load_draw_files(new_betas_path).sort_values(['location_id', 'draw', 'date']).reset_index(drop=True)

# The old betas have covariates attached.
old_betas = old_betas.loc[:, new_betas.columns]

print('Equality test:', old_betas.equals(new_betas))

Equality test: True
CPU times: user 12.8 s, sys: 6.47 s, total: 19.3 s
Wall time: 21.3 s

In [39]:
%%time
old_params = load_draw_files(old_params_path).sort_values(['draw', 'params']).reset_index(drop=True)
new_params = load_draw_files(new_params_path).sort_values(['draw', 'params']).reset_index(drop=True)

print('Equality test:', old_params.equals(new_params))

Equality test: True
CPU times: user 50 ms, sys: 48.6 ms, total: 98.6 ms
Wall time: 97.7 ms

In [30]:
old_params

      params    values  draw
0      alpha  0.996703     4
1      sigma  0.272946     4
2     gamma1  0.500000     4
3     gamma2  0.809868     4
4  day_shift  5.000000     4
0      alpha  0.989286     6
1      sigma  0.244253     6
2     gamma1  0.500000     6
3     gamma2  0.361099     6
4  day_shift  0.000000     6
0      alpha  0.987343     8
1      sigma  0.329106     8
2     gamma1  0.500000     8
3     gamma2  0.687221     8
4  day_shift  1.000000     8
0      alpha  0.943599     2
1      sigma  0.203456     2
2     gamma1  0.500000     2
3     gamma2  0.623529     2
4  day_shift  3.000000     2
0      alpha  0.907631     7
1      sigma  0.303963     7
2     gamma1  0.500000     7
3     gamma2  0.815634     7
4  day_shift  7.000000     7
0      alpha  0.941702     1
1      sigma  0.296019     1
2     gamma1  0.500000     1
3     gamma2  0.534865     1
4  day_shift  1.000000     1
0      alpha  0.955080     3
1      sigma  0.294396     3
2     gamma1  0.500000     3
3     gamma2  0.673869     3
4  day_shift  7.000000     3
0      alpha  0.901037     9
1      sigma  0.266900     9
2     gamma1  0.500000     9
3     gamma2  0.422524     9
4  day_shift  1.000000     9
0      alpha  0.954881     0
1      sigma  0.295335     0
2     gamma1  0.500000     0
3     gamma2  0.696574     0
4  day_shift  3.000000     0
0      alpha  0.922199     5
1      sigma  0.316069     5
2     gamma1  0.500000     5
3     gamma2  0.945738     5
4  day_shift  3.000000     5

In [24]:
new_betas.tail()

,loc_id,date,days,beta,S,E,I1,I2,R,newE,newE_obs,draw
33328,60887,2020-06-02,104,0.508769,3.688898e+06,1777.989570,940.913808,1101.511702,49227.271792,481.820722,481.820722,9
33329,60887,2020-06-03,105,0.508640,3.688416e+06,1785.169791,944.950812,1106.507995,49693.745842,483.554645,483.554645,9
33330,60887,2020-06-04,106,0.508517,3.687931e+06,1792.171920,948.887070,1111.406721,50162.310651,485.249432,485.249432,9
33331,60887,2020-06-05,107,0.508400,3.687445e+06,1799.003117,952.725670,1116.201083,50632.923406,486.904628,486.904628,9
33332,60887,2020-06-06,108,0.508288,3.686957e+06,1805.668474,956.469748,1120.887910,51105.539240,488.519789,488.519789,9

In [17]:
new_params

      params    values  draw
0      alpha  0.989286     6
1      sigma  0.244253     6
2     gamma1  0.500000     6
3     gamma2  0.361099     6
4  day_shift  0.000000     6
0      alpha  0.907631     7
1      sigma  0.303963     7
2     gamma1  0.500000     7
3     gamma2  0.815634     7
4  day_shift  7.000000     7
0      alpha  0.941702     1
1      sigma  0.296019     1
2     gamma1  0.500000     1
3     gamma2  0.534865     1
4  day_shift  1.000000     1
0      alpha  0.943599     2
1      sigma  0.203456     2
2     gamma1  0.500000     2
3     gamma2  0.623529     2
4  day_shift  3.000000     2
0      alpha  0.954881     0
1      sigma  0.295335     0
2     gamma1  0.500000     0
3     gamma2  0.696574     0
4  day_shift  3.000000     0
0      alpha  0.922199     5
1      sigma  0.316069     5
2     gamma1  0.500000     5
3     gamma2  0.945738     5
4  day_shift  3.000000     5
0      alpha  0.987343     8
1      sigma  0.329106     8
2     gamma1  0.500000     8
3     gamma2  0.687221     8
4  day_shift  1.000000     8
0      alpha  0.901037     9
1      sigma  0.266900     9
2     gamma1  0.500000     9
3     gamma2  0.422524     9
4  day_shift  1.000000     9
0      alpha  0.955080     3
1      sigma  0.294396     3
2     gamma1  0.500000     3
3     gamma2  0.673869     3
4  day_shift  7.000000     3
0      alpha  0.996703     4
1      sigma  0.272946     4
2     gamma1  0.500000     4
3     gamma2  0.809868     4
4  day_shift  5.000000     4